body{
  font-family: Georgia;
  background-color:white;
  color:black;
}

a{
  color:black;
}

#webpage-name{
  text-align:center;
  margin: 0 auto;
}


.tagline{
  font-style:italic;
  text-align:center;
}


.muzziefaves{
  text-align:center;
}

.center{
  width:200px;
    margin:0 auto;
    text-align:left;
}

#favorites{
  border: 3px solid white;
  top: 50px;
  width: 400px;
  text-align:center;
}

#banner{
  background-image: url("https://i.imgur.com/84Y1AA3.jpg");
  background-size: cover;
  background-position: bottom center;
  height: auto;
  width: 100%;
  
}

#banner .content{
  text-align:center;
  color:black;
  border: 3px solid black;
  position: relative;
  top: 50px;
  width: 400px;
  margin: 0 auto;
}

.navigation ul{
  margin: 0;
  padding: 0;
  text-align: center;
}

.navigation li{
  font-family:helvetica;
  font-weight: 100;
  text-align: center;
  letter-spacing: 2px;
  position: center;
  padding: 20px;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.aboutmuzzie{
  font-style: italic;
  font-weight:normal;
  text-align:center;
}

#faves{
  text-align:center;
  margin: 0 auto;
  border: 2px solid black;
  top: 50px;
  width: 400px;
  
}

.favelist{
  list-style:none;
  text-align:center;
  }

#turkishvan{
  text-align:center;
}
